::selection {
  color: #f6cb34;
  background: #E74C3C;

}

body {
	background-color: black;
}

h1 {
	color: white;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 23.5vw;
}

a {
	color: #f6cb34;
	text-decoration: inherit; 
}


h2 {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 7vw;
	color: #48799c;	
	line-height: 6.5vw;
}

h3{
	color: white;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 16px;
}

footer{
	border-top: 1px solid white;
	padding-top: 50px;
	padding-bottom: 10px;
	margin-top: 100px;
	width: 100%;
}

@font-face {
    font-family: 'IBM Plex Mono', monospace;
    src: url("./fonts/TRY_Grtsk Variable.ttf");
    font-style: normal;
    font-weight: normal;
}

.subsection{
	border-top: 1px solid white;
	margin-top: 20px!important;
	padding-top: 30px;
	padding-bottom: 10px;
}

.title{
	width: 100%;
	text-align: left;
	margin-top: -20vw;
	margin-bottom: -15vw;
}

.section{
	padding-top: -220px;
	margin-left: 6%;
	margin-right: 6%;
	text-align: left;
}

.text{
	margin-left: 6%;
}

.cell{
	font-family: 'IBM Plex Mono', monospace;
	font-size: 16px;
	color: white;
	text-align: left;
	margin-top: -2vw;
}

.warning{
	font-family: 'IBM Plex Mono', monospace;
	color: #E74C3C;		
	font-size: 20px;
}

.ready{
	font-family: 'IBM Plex Mono', monospace;
	font-size: 20px;
}

.column{
	float: left;
	width: 50%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}
